.footer ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
    margin-right: 40px;
}

.footer li a{
    margin: 10px;
    color: aliceblue;
}

.footer li a:hover{
    color: rgb(8, 247, 255);
}