.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.Navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.Navbar ul li{
    padding: 1em;
}

.Navbar a {
    color: aliceblue;
    text-decoration: none;
}

.Navbar a:hover{
    color: rgb(8, 247, 255);
}