.btn {
    background-color:rgb(8, 247, 255);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
} 

.btn:hover {
    color: aliceblue;
    background-color: rgb(0, 55, 104);
    transform: translateY(-7px);
    transition-duration:0.5s;
}